<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="http://artifactory.vistaprint.net/api/nuget/nuget-release-local" />
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Vistaprint package source" value="http://artifactory.vistaprint.net/api/nuget/nuget-release-local" />
    <add key="Vistaprint nuget official cache" value="http://artifactory.vistaprint.net/api/nuget/nuget-official-cache" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources> 
  <apikeys> 
    <add key="http://artifactory.vistaprint.net/api/nuget/nuget-release-local" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbE/0MCi7gEGmnRuAFFiVrgAAAAACAAAAAAAQZgAAAAEAACAAAADfCqJRvcMMQdBv5xvHFAwY0NfHFbxFCoFO6rpoeqC3VAAAAAAOgAAAAAIAACAAAABiUFWjOCwtNXRolh4qnWS5YZg5285umSAs0g8DDDjVdjAAAADoATLZE8lG3l1AnxR50WtKwfHd+NuAKhb5zlyDOojtUAlLqOHwRAcheJa9IVbnpohAAAAAeM6zcD1+CxHEQIGXuyUxMPl1Gf8fbtu2OtDrpD5mT7lu9g1sDD9CC7DxSwo5PwU3wIYu4noEEh3GADnvenms/Q==" />
  </apikeys>
</configuration>
