<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="http://artifactory.vistaprint.net/api/nuget/nuget-release-local" />
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Vistaprint package source" value="http://artifactory.vistaprint.net/api/nuget/nuget-release-local" />
    <add key="Vistaprint nuget official cache" value="http://artifactory.vistaprint.net/api/nuget/nuget-official-cache" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources> 
  <apikeys> 
    <add key="http://artifactory.vistaprint.net/api/nuget/nuget-release-local" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAqJxiph+/U02RhaXH3P4GjAAAAAACAAAAAAAQZgAAAAEAACAAAABhok6+CJZM/1ttgD/Y1Ppbyecc8EJTQZuAAxrhChoQJAAAAAAOgAAAAAIAACAAAAAtXxI1D0xgMn5YtlcqtDYA1co5wUHH7zNazFZd/cJnKTAAAAA3gu7qvn7O/23rDyguEwyOTxcbddOSUfLlGoKySaM4fLRrS3d+ehclze+jUYYzLQRAAAAAoQICPErXF20h1kQjXLZ57b/FjhjNsE4c63OZcMuHGdINAIkLu37owNZbMJ7pSW6wszxpSPXfIXxm0TnFAfcSdQ==" />
  </apikeys>
</configuration>
